{% load static %}
<header id="Header" class="header_style_1">
    <div class="header_top">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <div class="full">
              <div class="topbar-left">
                <ul class="list-inline">
                  <li> <span class="topbar-label"><i class="fa  fa-home"></i></span> <span class="topbar-hightlight">Physio360 - Thrissur</span> </li>
                  <li> <span class="topbar-label"><i class="fa fa-phone"></i></span> <span class="topbar-hightlight"><a href="tel:+919633297828">+91 9633 2978 28</a></span> </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-4 right_section_header_top">
            <div class="float-left">
              <div class="social_icon">
                <ul class="list-inline">
                  <li><a class="fa fa-facebook" href="https://www.facebook.com/" title="Facebook" target="_blank"></a></li>
                  <li><a class="fa fa-google-plus" href="https://plus.google.com/" title="Google+" target="_blank"></a></li>
                  <li><a class="fa fa-twitter" href="https://twitter.com" title="Twitter" target="_blank"></a></li>
                  <li><a class="fa fa-linkedin" href="https://www.linkedin.com" title="LinkedIn" target="_blank"></a></li>
                  <li><a class="fa fa-instagram" href="https://www.instagram.com" title="Instagram" target="_blank"></a></li>
                </ul>
              </div>
            </div>
            <div class="float-right">
              <div class="make_appo"> <a class="btn white_btn" href="{% url 'make_appointment' %}">Make Appointment</a> </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="header_bottom">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="logo">
              <a href="{% url 'home' %}">
                <img src="{% static 'images/logos/physio_logo.png' %}" alt="logo" />
              </a>
            </div>
          </div>
          <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <div class="menu_side">
              <div id="navbar_menu">
                <ul class="first-ul">
                  <li> <a class="active" href="{% url 'home' %}">Home</a>
                  <li><a href="{% url 'about' %}">About Us</a></li>
                  <li> <a href="#">Treatments</a></li>
                  <li> <a href="#">Service</a></li>
                  <li> <a href="{% url 'contact' %}">Contact</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>