{% extends 'base.html' %}

{% load static %}
{% block content %}

  <div id="slider" class="section main_slider">
    <div class="container-fuild">
      <div class="row">
        <div id="rev_slider_4_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="classicslider1" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
          <div id="rev_slider_4_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.0.7">
            <ul>
              <li data-index="rs-1812" data-transition="zoomin" data-slotamount="7"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000"  data-thumb="images/it_service/slide1.jpg' %}"  data-rotate="0"  data-saveperformance="off"  data-title="PHYSIO360" data-description="">
                <img src="{% static 'images/slider/slide1.jpg' %}"  alt="#"  data-bgposition="center center" data-kenburns="on" data-duration="30000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                <!-- LAYER NR. BG -->
                <div class="tp-caption tp-shape tp-shapewrapper   rs-parallaxlevel-0" 
                                id="slide-270-layer-1012" 
                                data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                                data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
                                data-width="full"
                                data-height="full"
                                data-whitespace="nowrap"
                                data-transform_idle="o:1;"
                                data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;" 
                                data-transform_out="s:300;s:300;" 
                                data-start="750" 
                                data-basealign="slide" 
                                data-responsive_offset="on" 
                                data-responsive="off"
                                style="z-index: 5;background-color:rgba(0, 0, 0, 0.25);border-color:rgba(0, 0, 0, 0.50);"> </div>
                <!-- LAYER NR. 1 -->
                <div class="tp-caption tp-shape tp-shapewrapper   tp-resizeme rs-parallaxlevel-0" 
                                id="slide-18-layer-912" 
                                data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                                data-y="['middle','middle','middle','middle']" data-voffset="['15','15','15','15']" 
                                data-width="500"
                                data-height="140"
                                data-whitespace="nowrap"
                                data-transform_idle="o:1;"
                                data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power4.easeInOut;" 
                                data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                                data-mask_in="x:0px;y:0px;" 
                                data-mask_out="x:inherit;y:inherit;" 
                                data-start="2000" 
                                data-responsive_offset="on" 
                                style="z-index: 5;background-color:rgba(29, 29, 29, 0.85);border-color:rgba(0, 0, 0, 0.50);"> </div>
                <!-- LAYER NR. 2 -->
                <div class="tp-caption NotGeneric-Title   tp-resizeme rs-parallaxlevel-0" 
                                id="slide-18-layer-112" 
                                data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                                data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
                                data-fontsize="['70','70','70','35']"
                                data-lineheight="['70','70','70','50']"
                                data-width="none"
                                data-height="none"
                                data-whitespace="nowrap"
                                data-transform_idle="o:1;"
                                data-transform_in="y:[-100%];z:0;rZ:35deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;" 
                                data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                                data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
                                data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                                data-start="1000" 
                                data-splitin="chars" 
                                data-splitout="none" 
                                data-responsive_offset="on" 
                                data-elementdelay="0.05" 
                                style="z-index: 6; white-space: nowrap;font-family: poppins;">PHISIO360</div>
                <!-- LAYER NR. 3 -->
                <div class="tp-caption NotGeneric-SubTitle   tp-resizeme rs-parallaxlevel-0" 
                                id="slide-18-layer-412" 
                                data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                                data-y="['middle','middle','middle','middle']" data-voffset="['52','51','51','31']" 
                                data-width="none"
                                data-height="none"
                                data-whitespace="nowrap"
                                data-transform_idle="o:1;"
                                data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                                data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                                data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
                                data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                                data-start="1500" 
                                data-splitin="none" 
                                data-splitout="none" 
                                data-responsive_offset="on" 
                                style="z-index: 7; white-space: nowrap;font-family: poppins;">NOT THE PAIN BUT THE CAUSE</div>
              </li>
              <li data-index="rs-181" data-transition="zoomin" data-slotamount="7"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000"  data-thumb="images/it_service/slide2.jpg' %}"  data-rotate="0"  data-saveperformance="off"  data-title="Easy To Use & Customize" data-description="">
                <!-- MAIN IMAGE -->
                <img src="{% static 'images/slider/slide2.jpg' %}"  alt=""  data-bgposition="center center" data-kenburns="on" data-duration="30000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                <!-- LAYERS -->
                <!-- LAYER NR. BG -->
                <div class="tp-caption tp-shape tp-shapewrapper   rs-parallaxlevel-0" 
                                id="slide-270-layer-101" 
                                data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                                data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
                                data-width="full"
                                data-height="full"
                                data-whitespace="nowrap"
                                data-transform_idle="o:1;"
                                data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;" 
                                data-transform_out="s:300;s:300;" 
                                data-start="750" 
                                data-basealign="slide" 
                                data-responsive_offset="on" 
                                data-responsive="off"
                                style="z-index: 5;background-color:rgba(0, 0, 0, 0.25);border-color:rgba(0, 0, 0, 0.50);"> </div>
                <!-- LAYER NR. 1 -->
                <div class="tp-caption tp-shape tp-shapewrapper   tp-resizeme rs-parallaxlevel-0" 
                                id="slide-18-layer-91" 
                                data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                                data-y="['middle','middle','middle','middle']" data-voffset="['15','15','15','15']" 
                                data-width="500"
                                data-height="140"
                                data-whitespace="nowrap"
                                data-transform_idle="o:1;"
                                data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power4.easeInOut;" 
                                data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                                data-mask_in="x:0px;y:0px;" 
                                data-mask_out="x:inherit;y:inherit;" 
                                data-start="2000" 
                                data-responsive_offset="on" 
                                style="z-index: 5;background-color:rgba(29, 29, 29, 0.85);border-color:rgba(0, 0, 0, 0.50);"> </div>
                <!-- LAYER NR. 2 -->
                <div class="tp-caption NotGeneric-Title   tp-resizeme rs-parallaxlevel-0" 
                                id="slide-18-layer-11" 
                                data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                                data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
                                data-fontsize="['70','70','70','35']"
                                data-lineheight="['70','70','70','50']"
                                data-width="none"
                                data-height="none"
                                data-whitespace="nowrap"
                                data-transform_idle="o:1;"
                                data-transform_in="y:[-100%];z:0;rZ:35deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;" 
                                data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                                data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
                                data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                                data-start="1000" 
                                data-splitin="chars" 
                                data-splitout="none" 
                                data-responsive_offset="on" 
                                data-elementdelay="0.05" 
                                style="z-index: 6; white-space: nowrap;font-family: poppins;">Best & Affordable </div>
                <!-- LAYER NR. 3 -->
                <div class="tp-caption NotGeneric-SubTitle   tp-resizeme rs-parallaxlevel-0" 
                                id="slide-18-layer-41" 
                                data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                                data-y="['middle','middle','middle','middle']" data-voffset="['52','51','51','31']" 
                                data-width="none"
                                data-height="none"
                                data-whitespace="nowrap"
                                data-transform_idle="o:1;"
                                data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                                data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                                data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
                                data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                                data-start="1500" 
                                data-splitin="none" 
                                data-splitout="none" 
                                data-responsive_offset="on" 
                                style="z-index: 7; white-space: nowrap;font-family: poppins;">Available On Physio360 </div>
              </li>
              <li data-index="rs-18" data-transition="zoomin" data-slotamount="7"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000"  data-thumb="images/it_service/slide3.jpg' %}"  data-rotate="0"  data-saveperformance="off"  data-title="Perfectly Responsive" data-description="">
                <!-- MAIN IMAGE -->
                <img src="{% static 'images/slider/slide3.jpg' %}"  alt=""  data-bgposition="center center" data-kenburns="on" data-duration="30000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                <!-- LAYERS -->
                <!-- LAYER NR. BG -->
                <div class="tp-caption tp-shape tp-shapewrapper   rs-parallaxlevel-0" 
                                id="slide-270-layer-10" 
                                data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                                data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
                                data-width="full"
                                data-height="full"
                                data-whitespace="nowrap"
                                data-transform_idle="o:1;"
                                data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;" 
                                data-transform_out="s:300;s:300;" 
                                data-start="750" 
                                data-basealign="slide" 
                                data-responsive_offset="on" 
                                data-responsive="off"
                                style="z-index: 5;background-color:rgba(0, 0, 0, 0.25);border-color:rgba(0, 0, 0, 0.50);"> </div>
                <!-- LAYER NR. 1 -->
                <div class="tp-caption tp-shape tp-shapewrapper   tp-resizeme rs-parallaxlevel-0" 
                                id="slide-18-layer-9" 
                                data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                                data-y="['middle','middle','middle','middle']" data-voffset="['15','15','15','15']" 
                                data-width="500"
                                data-height="140"
                                data-whitespace="nowrap"
                                data-transform_idle="o:1;"
                                data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power4.easeInOut;" 
                                data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                                data-mask_in="x:0px;y:0px;" 
                                data-mask_out="x:inherit;y:inherit;" 
                                data-start="2000" 
                                data-responsive_offset="on" 
                                style="z-index: 5;background-color:rgba(29, 29, 29, 0.85);border-color:rgba(0, 0, 0, 0.50);"> </div>
                <!-- LAYER NR. 2 -->
                <div class="tp-caption NotGeneric-Title   tp-resizeme rs-parallaxlevel-0" 
                                id="slide-18-layer-1" 
                                data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                                data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
                                data-fontsize="['70','70','70','35']"
                                data-lineheight="['70','70','70','50']"
                                data-width="none"
                                data-height="none"
                                data-whitespace="nowrap"
                                data-transform_idle="o:1;"
                                data-transform_in="y:[-100%];z:0;rZ:35deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;" 
                                data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                                data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
                                data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                                data-start="1000" 
                                data-splitin="chars" 
                                data-splitout="none" 
                                data-responsive_offset="on" 
                                data-elementdelay="0.05" 
                                style="z-index: 6; white-space: nowrap;font-family: poppins;">We Will Fix It </div>
                <!-- LAYER NR. 3 -->
                <div class="tp-caption NotGeneric-SubTitle   tp-resizeme rs-parallaxlevel-0" 
                                id="slide-18-layer-4" 
                                data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                                data-y="['middle','middle','middle','middle']" data-voffset="['52','51','51','31']" 
                                data-width="none"
                                data-height="none"
                                data-whitespace="nowrap"
                                data-transform_idle="o:1;"
                                data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                                data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                                data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
                                data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                                data-start="1500" 
                                data-splitin="none" 
                                data-splitout="none" 
                                data-responsive_offset="on" 
                                style="z-index: 7; white-space: nowrap;font-family: poppins;">Available On Physio360 </div>
              </li>
              <li data-index="rs-8" data-transition="zoomin" data-slotamount="7"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000"  data-thumb="images/it_service/slide3.jpg' %}"  data-rotate="0"  data-saveperformance="off"  data-title="Perfectly Responsive" data-description="">
                <!-- MAIN IMAGE -->
                <img src="{% static 'images/slider/slider4.jpg' %}"  alt=""  data-bgposition="center center" data-kenburns="on" data-duration="30000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                <!-- LAYERS -->
                <!-- LAYER NR. BG -->
                <div class="tp-caption tp-shape tp-shapewrapper   rs-parallaxlevel-0" 
                                id="slide-270-layer-10" 
                                data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                                data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
                                data-width="full"
                                data-height="full"
                                data-whitespace="nowrap"
                                data-transform_idle="o:1;"
                                data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;" 
                                data-transform_out="s:300;s:300;" 
                                data-start="750" 
                                data-basealign="slide" 
                                data-responsive_offset="on" 
                                data-responsive="off"
                                style="z-index: 5;background-color:rgba(0, 0, 0, 0.25);border-color:rgba(0, 0, 0, 0.50);"> </div>
                <!-- LAYER NR. 1 -->
                <div class="tp-caption tp-shape tp-shapewrapper   tp-resizeme rs-parallaxlevel-0" 
                                id="slide-18-layer-9" 
                                data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                                data-y="['middle','middle','middle','middle']" data-voffset="['15','15','15','15']" 
                                data-width="500"
                                data-height="140"
                                data-whitespace="nowrap"
                                data-transform_idle="o:1;"
                                data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power4.easeInOut;" 
                                data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                                data-mask_in="x:0px;y:0px;" 
                                data-mask_out="x:inherit;y:inherit;" 
                                data-start="2000" 
                                data-responsive_offset="on" 
                                style="z-index: 5;background-color:rgba(29, 29, 29, 0.85);border-color:rgba(0, 0, 0, 0.50);"> </div>
                <!-- LAYER NR. 2 -->
                <div class="tp-caption NotGeneric-Title   tp-resizeme rs-parallaxlevel-0" 
                                id="slide-18-layer-1" 
                                data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                                data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
                                data-fontsize="['70','70','70','35']"
                                data-lineheight="['70','70','70','50']"
                                data-width="none"
                                data-height="none"
                                data-whitespace="nowrap"
                                data-transform_idle="o:1;"
                                data-transform_in="y:[-100%];z:0;rZ:35deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;" 
                                data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                                data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
                                data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                                data-start="1000" 
                                data-splitin="chars" 
                                data-splitout="none" 
                                data-responsive_offset="on" 
                                data-elementdelay="0.05" 
                                style="z-index: 6; white-space: nowrap;font-family: poppins;">Medicine Free Recovery</div>
                <!-- LAYER NR. 3 -->
                <div class="tp-caption NotGeneric-SubTitle   tp-resizeme rs-parallaxlevel-0" 
                                id="slide-18-layer-4" 
                                data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                                data-y="['middle','middle','middle','middle']" data-voffset="['52','51','51','31']" 
                                data-width="none"
                                data-height="none"
                                data-whitespace="nowrap"
                                data-transform_idle="o:1;"
                                data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                                data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                                data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
                                data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                                data-start="1500" 
                                data-splitin="none" 
                                data-splitout="none" 
                                data-responsive_offset="on" 
                                style="z-index: 7; white-space: nowrap;font-family: poppins;">Available On Physio360 </div>
              </li>
            </ul>
            <div class="tp-static-layers"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

   {% include "Appointment.html" %}

  <div id="WhyChooseUs" class="section padding_layout_1">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="full">
            <div class="main_heading text_align_center">
              <h2>Why Choose Us</h2>
              <p class="large">Best Treatment with Affordable price!</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
          <div class="full text_align_center margin_bottom_30">
            <div class="center">
              <div class="icon"> <img src="{% static 'images/icons/Money_Saving_Treatment.png' %}" alt="#" /> </div>
            </div>
            <h4 class="theme_color">Money Saving Treatment</h4>
            <p>Provide treatement with affordable price</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
          <div class="full text_align_center margin_bottom_30">
            <div class="center">
              <div class="icon"> <img src="{% static 'images/icons/Fast_Result.png' %}" alt="#" /> </div>
            </div>
            <h4 class="theme_color">Fast Result</h4>
            <p>Best treatement gives best and faster Result</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
          <div class="full text_align_center margin_bottom_30">
            <div class="center">
              <div class="icon"> <img src="{% static 'images/icons/Medicine_Free_Recovary.png' %}" alt="#" /> </div>
            </div>
            <h4 class="theme_color">Medicine Free Recovary</h4>
            <p>provide physical treatement</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
          <div class="full text_align_center margin_bottom_30 margin_0">
            <div class="center">
              <div class="icon"> <img src="{% static 'images/icons/Advanced_Machine_Treatment.png' %}" alt="#" /> </div>
            </div>
            <h4 class="theme_color">Advanced Machine Treatment</h4>
            <p>Treatment using Advanced imported medical machineries</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12" >
          <div class="row">
        <div class="col-md-6">
          <div class="full WhyChooseUs_1">
            <h3>Best in Trissur</h3>
            <p id="demo_1"></p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="full WhyChooseUs_1" >
            <h3>How We Can Help You</h3>
            <p id="demo_2">
            </p>
          </div>
        </div>
    </div>
    </div>
      </div>
    </div>
  </div>
    
  <div id="ServiceProcess" class="section padding_layout_1 light_silver gross_layout">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="full">
            <div class="main_heading text_align_left">
              <h2>Service Process</h2>
              <p class="large">Easy and effective way to get your device repaired.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <div class="row" >
            <p st>Physio360 aim to provide a caring, personalised service in pleasant surroundings. We will work together to break down barriers to physical function whether that means recovering from pre and post surgery, pushing through illness and chronic disease, sustained injuries, industrial and motor vehicle accidents or age related conditions</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="Treatments" class="section padding_layout_1">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="full">
            <div class="main_heading text_align_center">
              <h2>Our Treatments</h2>
              <p class="large">We provide the best treatement with good result to make you a happy customer.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class=" col-lg-4 col-md-4 col-sm-12 col-xs-12 treat_1">
          <div class="full blog_colum">
            <div class="blog_feature_img">
               <img src="{% static 'images/treatments/EMS.png' %}" alt="#" /> 
            </div>
            <div class="post_time">
            </div>
            <div class="blog_feature_head">
              <h4>Electrical Muscle Stimulation (EMS)</h4>
            </div>
            <div class="blog_feature_cont">
              <p>Lorem ipsum dolor sit amet, consectetur quam justo, pretium adipiscing elit. Vestibulum quam justo, pretium eu tempus ut, ...</p>
            </div>
          </div>
        </div>
        <div class=" col-lg-4 col-md-4 col-sm-12 col-xs-12 treat_1">
          <div class="full blog_colum ">
            <div class="blog_feature_img">
               <img src="{% static 'images/treatments/IFT.png' %}" alt="#" /> 
            </div>
            <div class="post_time">
            </div>
            <div class="blog_feature_head">
              <h4>Interferential therapy (IFT)</h4>
            </div>
            <div class="blog_feature_cont">
              <p>Lorem ipsum dolor sit amet, consectetur quam justo, pretium adipiscing elit. Vestibulum quam justo, pretium eu tempus ut, ...</p>
            </div>
          </div>
        </div>
        <div class=" col-lg-4 col-md-4 col-sm-12 col-xs-12 treat_1">
          <div class="full blog_colum  ">
            <div class="blog_feature_img">
               <img src="{% static 'images/treatments/TENS.png' %}" alt="#" /> 
            </div>
            <div class="post_time">
            </div>
            <div class="blog_feature_head">
              <h4>TENS</h4>
            </div>
            <div class="blog_feature_cont">
              <p>Lorem ipsum dolor sit amet, consectetur quam justo, pretium adipiscing elit. Vestibulum quam justo, pretium eu tempus ut, ...</p>
            </div>
          </div>
        </div>
        <div class=" col-lg-4 col-md-4 col-sm-12 col-xs-12 treat_1">
          <div class="full blog_colum  ">
            <div class="blog_feature_img">
               <img src="{% static 'images/treatments/Ultrasound.png' %}" alt="#" /> 
            </div>
            <div class="post_time">
            </div>
            <div class="blog_feature_head">
              <h4>Ultrasound </h4>
            </div>
            <div class="blog_feature_cont">
              <p>Lorem ipsum dolor sit amet, consectetur quam justo, pretium adipiscing elit. Vestibulum quam justo, pretium eu tempus ut, ...</p>
            </div>
          </div>
        </div>
        <div class=" col-lg-4 col-md-4 col-sm-12 col-xs-12 treat_1">
          <div class="full blog_colum  ">
            <div class="blog_feature_img">
               <img src="{% static 'images/treatments/KT_Taping.png' %}" alt="#" /> 
            </div>
            <div class="post_time">
            </div>
            <div class="blog_feature_head">
              <h4>KT Taping</h4>
            </div>
            <div class="blog_feature_cont">
              <p>Lorem ipsum dolor sit amet, consectetur quam justo, pretium adipiscing elit. Vestibulum quam justo, pretium eu tempus ut, ...</p>
            </div>
          </div>
        </div>
        <div class=" col-lg-4 col-md-4 col-sm-12 col-xs-12 treat_1">
          <div class="full blog_colum  ">
            <div class="blog_feature_img">
               <img src="{% static 'images/treatments/Cupping_therapy.png' %}" alt="#" /> 
            </div>
            <div class="post_time">
            </div>
            <div class="blog_feature_head">
              <h4>Cupping Therapy</h4>
            </div>
            <div class="blog_feature_cont">
              <p>Lorem ipsum dolor sit amet, consectetur quam justo, pretium adipiscing elit. Vestibulum quam justo, pretium eu tempus ut, ...</p>
            </div>
          </div>
        </div>
        <div class=" col-lg-4 col-md-4 col-sm-12 col-xs-12 treat_1">
          <div class="full blog_colum  ">
            <div class="blog_feature_img">
               <img src="{% static 'images/treatments/Traction_Treatment.png' %}" alt="#" /> 
            </div>
            <div class="post_time">
            </div>
            <div class="blog_feature_head">
              <h4>Traction Treatment</h4>
            </div>
            <div class="blog_feature_cont">
              <p>Lorem ipsum dolor sit amet, consectetur quam justo, pretium adipiscing elit. Vestibulum quam justo, pretium eu tempus ut, ...</p>
            </div>
          </div>
        </div>
        <div class=" col-lg-4 col-md-4 col-sm-12 col-xs-12 treat_1">
          <div class="full blog_colum ">
            <div class="blog_feature_img">
               <img src="{% static 'images/treatments/Dryneeding.png' %}" alt="#" /> 
            </div>
            <div class="post_time">
            </div>
            <div class="blog_feature_head">
              <h4>Dry needing</h4>
            </div>
            <div class="blog_feature_cont">
              <p>Lorem ipsum dolor sit amet, consectetur quam justo, pretium adipiscing elit. Vestibulum quam justo, pretium eu tempus ut, ...</p>
            </div>
          </div>
        </div>
        <div class=" col-lg-4 col-md-4 col-sm-12 col-xs-12 treat_1">
          <div class="full blog_colum ">
            <div class="blog_feature_img">
               <img src="{% static 'images/treatments/MFR.png' %}" alt="#" /> 
            </div>
            <div class="post_time">
            </div>
            <div class="blog_feature_head">
              <h4>Myofascial Release</h4>
            </div>
            <div class="blog_feature_cont">
              <p>Lorem ipsum dolor sit amet, consectetur quam justo, pretium adipiscing elit. Vestibulum quam justo, pretium eu tempus ut, ...</p>
            </div>
          </div>
        </div>
        <div class=" col-lg-4 col-md-4 col-sm-12 col-xs-12 treat_1">
          <div class="full blog_colum ">
            <div class="blog_feature_img">
               <img src="{% static 'images/treatments/therapeutic_exercise.png' %}" alt="#" /> 
            </div>
            <div class="post_time">
            </div>
            <div class="blog_feature_head">
              <h4>Therapeutic Exercise</h4>
            </div>
            <div class="blog_feature_cont">
              <p>Lorem ipsum dolor sit amet, consectetur quam justo, pretium adipiscing elit. Vestibulum quam justo, pretium eu tempus ut, ...</p>
            </div>
          </div>
        </div>



      </div>
    </div>
  </div>

  <div id="Feedback" class="section padding_layout_1 light_silver gross_layout right_gross_layout">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="full">
            <div class="main_heading text_align_right">
              <h2>Feedback</h2>
              <p class="large">Best and effective treatment with affordable price.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row counter">
        <div class="col-md-4"> </div>
        <div class="col-md-8">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 margin_bottom_50">
              <div class="text_align_right"><i class="fa fa-smile-o"></i></div>
              <div class="text_align_right">
                <p class="counter-heading text_align_right">Happy Customers</p>
              </div>
              <h5 class="counter-count">1150</h5>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 margin_bottom_50">
              <div class="text_align_right"><i class="fa fa-users"></i>
              </div>
              <div class="text_align_right">
                <p class="counter-heading text_align_right">Total Customers</p>
              </div>
              <h5 class="counter-count">2280</h5>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 margin_bottom_50">
              <div class="text_align_right"><i class="fa fa-child"></i>
              </div>
              <div class="text_align_right">
                <p class="counter-heading">Satisfaction %</p>
              </div>
              <h5 class="counter-count">98</h5>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 margin_bottom_50">
              <div class="text_align_right"><i class="fa fa-graduation-cap"></i>
              </div>
              <div class="text_align_right">
                <p class="counter-heading">Year Of Experience</p>
              </div>
              <h5 class="counter-count">3</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="Events" class="section padding_layout_1">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="full">
            <div class="main_heading text_align_left">
              <h2>Events</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="full blog_colum">
            <div class="blog_feature_img"> <img src="{% static 'images/events/Event_1.jpg' %}" alt="#" /> </div>
            <div class="post_time">
              <p><i class="fa fa-clock-o"></i> April 16, 2018 ( In Maintenance )</p>
            </div>
            <div class="blog_feature_head">
              <h4>Awareness class for school students</h4>
            </div>
            <div class="blog_feature_cont">
              <p>Lorem ipsum dolor sit amet, consectetur quam justo, pretium adipiscing elit. Vestibulum quam justo, pretium eu tempus ut, ...</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="full blog_colum">
            <div class="blog_feature_img"> <img src="{% static 'images/events/Event_2.jpg' %}" alt="#" /> </div>
            <div class="post_time">
              <p><i class="fa fa-clock-o"></i> April 16, 2018 ( In Maintenance )</p>
            </div>
            <div class="blog_feature_head">
              <h4>Handicapped students treatment</h4>
            </div>
            <div class="blog_feature_cont">
              <p>Lorem ipsum dolor sit amet, consectetur quam justo, pretium adipiscing elit. Vestibulum quam justo, pretium eu tempus ut, ...</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="full blog_colum">
            <div class="blog_feature_img"> <img src="{% static 'images/events/Event_3.jpg' %}" alt="#" /> </div>
            <div class="post_time">
              <p><i class="fa fa-clock-o"></i> April 16, 2018 ( In Maintenance )</p>
            </div>
            <div class="blog_feature_head">
              <h4>Senior citizen treatement camp</h4>
            </div>
            <div class="blog_feature_cont">
              <p>Lorem ipsum dolor sit amet, consectetur quam justo, pretium adipiscing elit. Vestibulum quam justo, pretium eu tempus ut, ...</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="WhatClientsSay" class="section padding_layout_1 testmonial_section white_fonts">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="full">
            <div class="main_heading text_align_left">
              <h2 style="text-transform: none;">What Clients Say?</h2>
              <p class="large">Here are testimonials from clients..</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-7">
          <div class="full">
            <div id="testimonial_slider" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
              <ul class="carousel-indicators">
                <li data-target="#testimonial_slider" data-slide-to="0" class="active"></li>
                <li data-target="#testimonial_slider" data-slide-to="1"></li>
                <li data-target="#testimonial_slider" data-slide-to="2"></li>
              </ul>
              <!-- The slideshow -->
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="testimonial-container">
                    <div class="testimonial-content"> You guys rock! Thank you for making it painless, pleasant and most of all hassle free! I wish I would have thought of it first. 
                      I am really satisfied with my first laptop service. </div>
                    <div class="testimonial-photo"> <img src="{% static 'images/it_service/client1.jpg' %}" class="img-responsive" alt="#" width="150" height="150"> </div>
                    <div class="testimonial-meta">
                      <h4>Maria Anderson</h4>
                      <span class="testimonial-position">Case : KT Taping</span> </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="testimonial-container">
                    <div class="testimonial-content"> You guys rock! Thank you for making it painless, pleasant and most of all hassle free! I wish I would have thought of it first. 
                      I am really satisfied with my first laptop service. </div>
                    <div class="testimonial-photo"> 
                      <img src="{% static 'images/it_service/client2.jpg' %}" class="img-responsive" alt="#" width="150" height="150"> 
                    </div>
                    <div class="testimonial-meta">
                      <h4>Maria Anderson</h4>
                      <span class="testimonial-position">Case : Myofascial Release</span> </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="testimonial-container">
                    <div class="testimonial-content"> You guys rock! Thank you for making it painless, pleasant and most of all hassle free! I wish I would have thought of it first. 
                      I am really satisfied with my first laptop service. </div>
                    <div class="testimonial-photo"> <img src="{% static 'images/it_service/client3.jpg' %}" class="img-responsive" alt="#" width="150" height="150"> </div>
                    <div class="testimonial-meta">
                      <h4>Maria Anderson</h4>
                      <span class="testimonial-position">Case : Ultrasound </span> </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-5">
          <div class="full"> </div>
        </div>
      </div>
    </div>
  </div>

  {% include "Appointment.html" %}
 
 {% endblock content %}