<!DOCTYPE html>
{% load static %}
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Admin Login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'stylecss.css' %}">

</head>
<body class="error_body">

  <div class="error">
    <img src="{% static 'images/background/error.jpg' %}">
  </div>
  <div class="error">
    <h1>something wrong please try again</h1>
  </div>
  <div class="error">
     <a href="{% url 'home' %}"><button type="button" class="btn bt">Home</button></a>
    <a href="{% url 'make_appointment' %}"><button type="button" class="btn bt">Appointment Form</button></a>
  </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>
